##Resource File, path for all other files
resources:
- name: VMRegional
  type: VMRegional.jinja
- name: VMMultiRegional
  type: VMMultiRegional.jinja
- name: network
  type: network.jinja
- name: firewall
  type: firewall.jinja
- name: RegionalSQLInstance
  type: RegionalSQLInstance.jinja
- name: MultiRegionalSQLInstance
  type: MultiRegionalSQLInstance.jinja